#root {
  width: 100%;
  margin: 0;
}

:root {
  /* Cores Principais */
  --color-primary: #2563eb;
  --color-primary-hover: #1d4ed8;
  --color-secondary: #1f2937;

  /* Cores de Texto */
  --color-text-main: #1f2937;
  --color-text-muted: #6b7280;

  /* Cores de Status */
  --color-danger: #ef4444;
  --color-success: #10b981;

  /* Fundos */
  --color-bg-body: #f3f4f6;
  --color-bg-white: #ffffff;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--color-text-main);
  background-color: var(--color-bg-body);
  padding-top: 70px;
  -webkit-font-smoothing: antialiased;
}

button {
  font-family: inherit;
}

img {
  max-width: 100%;
  display: block;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

